name: Deploy Backend to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install Dependencies
        run: npm install

      - name: Create Env File
        run: |
            echo "PORT=3000" >> .env
            echo "DB_NAME=mymoneydb" >> .env
            echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> .env
            echo "AWS_SECRET_NAME=prod/myapp/postgres" >> .env

      - name: Deploy to AWS CodeDeploy
        run: |
          aws deploy push \
            --application-name ${{ secrets.CODEDEPLOY_APP_NAME }} \
            --description "Deploy via GitHub Actions" \
            --s3-location s3://${{ secrets.AWS_S3_BUCKET }}/backend-artifact.zip \
            --source .

          aws deploy create-deployment \
            --application-name ${{ secrets.CODEDEPLOY_APP_NAME }} \
            --deployment-config-name CodeDeployDefault.OneAtATime \
            --deployment-group-name ${{ secrets.CODEDEPLOY_GROUP_NAME }} \
            --s3-location bucket=${{ secrets.AWS_S3_BUCKET }},key=backend-artifact.zip,bundleType=zip
